[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "bundle/vim-align"]
	path = bundle/vim-align
	url = git@github.com:tsaleh/vim-align.git
