[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/align"]
	path = bundle/align
	url = https://github.com/tsaleh/vim-align.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "bundle/pdv"]
	path = bundle/pdv
	url = https://github.com/tobyS/pdv.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "bundle/funcoo.vim"]
	path = bundle/funcoo.vim
	url = https://github.com/rizzatti/funcoo.vim.git
[submodule "bundle/dash.vim"]
	path = bundle/dash.vim
	url = https://github.com/rizzatti/dash.vim.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/phpcomplete.vim"]
	path = bundle/phpcomplete.vim
	url = https://github.com/shawncplus/phpcomplete.vim.git
[submodule "bundle/utlisnips"]
	path = bundle/utlisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/php"]
	path = bundle/php
	url = https://github.com/StanAngeloff/php.vim.git
[submodule "bundle/open-browser"]
	path = bundle/open-browser
	url = https://github.com/tyru/open-browser.vim.git
[submodule "bundle/wordpress.vim"]
	path = bundle/wordpress.vim
	url = https://github.com/dsawardekar/wordpress.vim
[submodule "bundle/Smart-Tabs"]
	path = bundle/Smart-Tabs
	url = git@github.com:vim-scripts/Smart-Tabs.git
